@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
html {
    scroll-behavior: smooth;
    }
body {
    margin: 0;
    padding: 0;
}
header {
    width: 100%;
    height: 100vh;
    background: url(../img/bg-header.png);
    background-size: cover; 
    font-family: 'Montserrat', sans-serif;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
nav {
    padding-top: 50px;
    display: flex;
    align-items: center;
}
nav .logo { 
    width: 30%;
    display: inline-block;
}
nav ul{
    width: 60%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}
nav ul li {
    display: inline-block;
    margin: 0 20px;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    padding: 8px 0;
}
nav ul li:hover {
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
}
nav ul li a {
    color: blanchedalmond;
    font-size: 20px;
    text-decoration: none;
}
#hero {
    text-align: center;
    padding-top: 120px;
}
#hero img {
    transition: 2s;
}
#hero img:hover {
    transform: scale(1.2) rotate(-260deg);
}
#hero h2 {
    font-size: 60px;
    color: #e8f00c;
    margin: 0;
    padding: 0;
    font-weight: 500;
}
#hero p {
    color: white;
    text-transform: uppercase;
    font-size: 24px;
    margin: 0;
    padding: 0;
}
#hero button {
    background: #e8f00c ;
    padding: 15px 40px;
    font-size: 20px;
    color: #999999;
    border-radius: 60px;
    border: 0 transparent;
    margin-top: 70px;
}
#hero button:hover {
    transform: scale(.8);
}


#planes {
    width: 100%;
    background: #ffffff;
    padding: 100px 0;
    text-align: center;
}

#planes .container h2 {
    font-size: 40px;
}

#planes .container p {
    font-size: 20px;
}

#planes .container .row {
    /* row es para organizar los elementos el filas y para las columnas es el display para que queden al lado */
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
}
#planes .container .row .item_planes {
    /* esto es para que los objetos no se sobrepongan sino que mantentan sus lugares, como su gueran capas */
    position: relative;
}

#planes .container .row .item_planes h2 {
   color: #e8f00c;
   font-size: 25px;
   position: absolute;
   top: 100px;
   right: 0;
   left: 0;
}

#destinos{
    /* esto es para poner una imagen de fondo de pantalla y se ajuste a la pantalla */
    width: 100%;
    background: url(../img/bg-destinos.png);
    padding-top: 100px;
    padding-bottom: 30px;
    text-align: center;
    background-size: cover;
    
}

#destinos .container h2{
    color: #e8f00c;
    font-size: 40px;
}
#destinos .container .row_1{
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
}
#destinos .container .row_2{
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
}
#destinos .container p{
    color: #ffffff;
    font-size: 25px;
}

#destinos .container .items_destinos img {
    transition:  1s;
}
#destinos .container .items_destinos:hover img {
    transform: rotate( -360deg);
}

#contacto {
    background: #e8f00c;
    text-align: center;
    width: 100%;
    padding-top: 48px;
    padding-bottom: 120px;
}

#contacto h2 {
    font-size: 50px;
    /* esto es para poner el texto en mayuscula */
    text-transform: uppercase;
}

#contacto p{
    font-size: 22px;
}

#contacto .container .row .campo-f {
    width: 300px;
    padding: 12px 14px;
    border-radius: 5px;
    margin: 10px 10px;
}

#contacto .container .row select{
   /* !important sirve para que sea obligatorio la lectura de ese codigo */
    width: 332px !important;
}

#contacto .container form button {
    background: #898d0e;
    color: #ffffff;
    /* padding es margen interna */
    padding: 12px 50px;
    font-size: 20px;
    margin-top: 40px;
    border-radius: 5px;
    border: 0;
}

footer {
    color: #ffffff;
    background: black;
    text-align: center;
    padding: 30px 0 50px;
    font-size: 20px;
}